.name{
    color:#8D69C7;
    font-style:italic;
}
#profile{
    color:#9F486B;
    
}
.edu{
    color:#9F486B;
}
.cont{
        color:#9F486B;
}
.lang{
     color:#9F486B;
}
body{
    background-color:#fffde8;
}
